<html>
    <head>
        <title> Load All Data </title>
        </head>
        <body>
                <form action="/search" method="get">
                <input name="search" type="text" placeholder="Search for a city">
                <button type="submit" value="Search">
                    <span class="icon" data-type ="global" data-value="search"> Search </span>
                </button>
                </form>
            <div class="link-countries">
            <ul>
            {%for count in cities%}
            <li>{{count.cities}}</li>
            {% endfor %}
        </ul>
        </body>
</html>